* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    overflow: hidden;
}
/*Leve do Pet*/

#levelDoPet {
    position: absolute;
    height: 8rem;
    width: 30rem;
    z-index: 3;
    padding: 1rem;
}
.level {
    display: flex;
    cursor: default;
}
.level h1 {
    font-size: 1.5rem;
}
#level {
    margin-top: -6px;
    margin-left: 0.5rem;
    font-size: 2rem;
}
#barraDoLevel {
    border-radius: 1rem;
    height: 0.6rem;
    width: 30rem;
    border: 2px solid black;
    overflow: hidden;
}
#progressao {
    height: 100%;
    transform: translateX(-100%);
    border-radius: 100px;
    background: linear-gradient(to bottom, green, lime);
}

/*Dinheiro do Pet*/

#dinheiroDoPet {
    position: absolute;
    border: 0.1rem solid black;
    border-radius: 3rem;
    right: 0;
    height: 2rem;
    width: 10rem;
    margin: 1rem 1rem 0 0;
    display: flex;
    background: white;
}
#dinheiroDoPet img {
    height: 3rem;
    width: 3rem;
    margin-top: -0.6rem;
    margin-left: -0.5rem;
    cursor: pointer;
}
.dinheiro {
    height: 1rem;
    width: 20rem;
    display: flex;
    margin-top: 0.4rem;
    cursor: default;
}
#dinheiro {
    margin-left: 0.5rem;
}

/*Status do Pet*/

#statusDoPet {
    position: absolute;
    height: 5rem;
    width: 30rem;
    z-index: 3;
    margin: 4.5rem 0 0 1rem;
    display: flex;
    justify-content: space-around;
}
#statusDoPet img {
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    position: absolute;
}
#saudeDoPet, #alimentacaoDoPet, #energiaDoPet, #inteligenciaDoPet, #felicidadeDoPet, #higieneDoPet {
    height: 4rem;
    width: 4rem;
    border: 3px solid black;
    border-radius: 0.5rem;
    overflow: hidden;
}

#saudeDoPet {
    background: linear-gradient(rgba(255, 255, 255, 0) 100%,rgb(0, 255, 0) 0%);
}
#alimentacaoDoPet {
    background: linear-gradient(rgba(255, 255, 255, 0) 100%,rgb(0, 255, 0) 0%);
}
#energiaDoPet {
    background: linear-gradient(rgba(255, 255, 255, 0) 100%,rgb(0, 255, 0) 0%);
}
#inteligenciaDoPet {
    background: linear-gradient(rgba(255, 255, 255, 0) 100%,rgb(0, 255, 0) 0%);
}
#felicidadeDoPet {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%,rgb(0, 255, 0) 0%);
}
#higieneDoPet {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%,rgb(0, 255, 0) 0%);
}


button {
    position: absolute;
    margin-top: 10rem;
    background: rgb(0, 255, 0);
}
.dormir {
    margin-left: 5rem;
}
#cozinhaFundo {
    height: 100vh;
    width: 100vw;
}
#geladeiraClick {
    position: absolute;
    cursor: pointer;
    height: 51.6vh;
    width: 15.3vw;
    margin-top: -78.7vh;
    margin-left: 22.6vw;
    border-radius: 0.7rem 0.7rem 0 0;
    opacity: 0;
}
#geladeiraClick img {
    margin-top: 18vh;
    margin-left: 5vw;
    height: 5rem;
    width: 5rem;
}
#geladeira {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    height: 100vh;
    display: none;
}
#geladeira img{
    margin-top: -2vh;
    height: 100vh;
}
#fecharGeladeira {
    position: absolute;
    margin-top: -4.5vh;
    margin-left: 50%;
    font-size: 2rem;
    text-align: center;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    border: 2px solid rgb(255, 0, 0);
    color: white;
    cursor: pointer;
}
#fecharGeladeira p {
    margin-top: -6px;
}
