* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    overflow: hidden;
}
/*Leve do Pet*/

#levelDoPet {
    position: absolute;
    height: 8rem;
    width: 30rem;
    z-index: 3;
    padding: 1rem;
}
.level {
    display: flex;
    cursor: default;
}
.level h1 {
    font-size: 1.5rem;
}
#level {
    margin-top: -6px;
    margin-left: 0.5rem;
    font-size: 2rem;
}
#barraDoLevel {
    border-radius: 1rem;
    height: 0.6rem;
    width: 30rem;
    border: 2px solid black;
    overflow: hidden;
}
#progressao {
    height: 100%;
    transform: translateX(-100%);
    border-radius: 100px;
    background: linear-gradient(to bottom, green, lime);
}

/* Level Up */

#levelUp {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    height: 50vh;
    width: 100vw;
    z-index: 3;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    box-shadow: inset 1px 1px 20px rgb(255, 255, 255), inset -1px -1px 5px rgb(255, 255, 255), 1px 1px 20px red, -1px -1px 5px red;
    animation: levelUp 1s linear forwards;
}

@keyframes levelUp {
    0%{
        width: 0vw;
    }
    100%{
        width: 100vw;;
    }
}

.tituloLevelUp {
    height: 16vh;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}
.tituloLevelUp img {
    height: 10vh;
}
.tituloLevelUp h1 {
    font-size: 2.5rem;
    height: 2.5rem;
    margin-top: 3vh;
    margin-left: -1vw;
}
#levelUp h2 {
    text-align: center;
    margin-top: 10vh;
}
.recompensas {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.novoNivel, .maisMoedas {
    margin-top: 3vh;
    height: 10vw;
    width: 20vw;
}
.novoNivel h3, .maisMoedas h3 {
    font-size: 2rem;
}
.novoNivel h4 {
    font-size: 3rem;
    margin-top: 3vh;
}
.maisMoedasComRs {
    justify-content: center;
    display: flex;
    font-size: 2.5rem;
    margin-top: 3vh;
}
#maisMoedas {
    margin-left: 0.5vw;
}
.receberLv {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 6vh;
    width: 20vh;
    border-radius: 1rem;
    font-size: 1.5rem;
    border: 2px solid rgb(255, 0, 0);
    color: red;
    cursor: pointer;
    box-shadow: inset 1px 1px 5px rgba(255, 0, 0, 0.453), inset -1px -1px 5px rgba(255, 0, 0, 0.453);
    background: white;
}
.receberLv:hover {
    background: rgba(255, 0, 0, 0.641);
    box-shadow: inset 1px 1px 20px rgb(255, 255, 255), inset -1px -1px 5px rgb(255, 255, 255), 1px 1px 20px red, -1px -1px 5px red;
    color: white;
}

/*Dinheiro do Pet*/

#dinheiroDoPet {
    position: absolute;
    border: 0.1rem solid black;
    border-radius: 3rem;
    right: 0;
    height: 2rem;
    width: 10rem;
    margin: 1rem 1rem 0 0;
    display: flex;
    background: white;
    cursor: default;
}
#dinheiroDoPet img {
    height: 3rem;
    width: 3rem;
    margin-top: -0.6rem;
    margin-left: -0.5rem;
}
.dinheiro {
    height: 1rem;
    width: 20rem;
    display: flex;
    margin-top: 0.4rem;
}
#dinheiro {
    margin-left: 0.5rem;
}

/*Status do Pet*/

#statusDoPet {
    position: absolute;
    height: 5rem;
    width: 30rem;
    z-index: 3;
    margin: 4.5rem 0 0 1rem;
    display: flex;
    justify-content: space-around;
}
#statusDoPet img {
    height: 2.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    position: absolute;
}
#saudeDoPet, #alimentacaoDoPet, #energiaDoPet, #inteligenciaDoPet, #felicidadeDoPet, #higieneDoPet {
    height: 4rem;
    width: 4rem;
    border: 3px solid black;
    border-radius: 0.5rem;
    overflow: hidden;
}

#saudeDoPet {
    background: linear-gradient(rgba(255, 255, 255, 0) 100%,rgb(0, 255, 0) 0%);
}
#alimentacaoDoPet {
    background: linear-gradient(rgba(255, 255, 255, 0) 100%,rgb(0, 255, 0) 0%);
}
#energiaDoPet {
    background: linear-gradient(rgba(255, 255, 255, 0) 100%,rgb(0, 255, 0) 0%);
}
#inteligenciaDoPet {
    background: linear-gradient(rgba(255, 255, 255, 0) 100%,rgb(0, 255, 0) 0%);
}
#felicidadeDoPet {
    background: linear-gradient(rgba(255, 255, 255, 0) 100%,rgb(0, 255, 0) 0%);
}
#higieneDoPet {
    background: linear-gradient(rgba(255, 255, 255, 0) 0%,rgb(0, 255, 0) 0%);
}

/* Loja */

#botaoLoja {
    position: absolute;
    right: 1.7rem;
    top: 3rem;
}
#placaDaLoja {
    height: 6rem;
}
#botaoLoja .conteudoDaPlaca p {
    position: absolute;
    margin-top: -4rem;
    margin-left: 0.5rem;
    font-size: 1.8rem;
    cursor: pointer;
    padding: 0.7rem 1.6rem;
}
#loja {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    height: 80vh;
    width: 78vw;
    z-index: 5;
    border: 5px solid red;
    border-radius: 10px;
}
.placaLoja {
    position: absolute;
    height: 8rem;
    width: 11vw;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.placaLoja img {
    position: absolute;
    height: 8rem;
    width: 11vw;
    top: -1.2rem;
}
.placaLoja p {
    position: absolute;
    left: 3.7vw;
    top: 0.3vh;
    font-size: 1.5vw;
    cursor: default;
}
.cartegoriasLoja {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    background: linear-gradient(to top, red, white);
}
.cartegoriasLoja ul {
    display: flex;
    width: 33vw;
    flex-wrap: wrap;
    text-align: center;
    padding-bottom: 4px;
}
.cartegoriasLoja ul li {
    list-style-type: none;
    width: 5.6rem;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
    color: white;
    border-bottom: 2px solid white;
}
.cartegoriasLoja ul li:hover {
    font-weight: bold;
    border-bottom: 4px solid white;
}

.prateleira{
    position: absolute;
    z-index: 1;
    top: 8rem;
    height: 14vh;
    width: 77.4vw;
}

/* Itens da Loja */

#acougue {
    display: none;
    flex-wrap: wrap;  
    position: absolute;
    z-index: 2;
}

#congelados {
    display: none;
    flex-wrap: wrap;  
    position: absolute;
    z-index: 2;
}
#laticinios {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    z-index: 2;
}
#padaria {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    z-index: 2;
}
#peixaria {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    z-index: 2;
}
#acougue .itemLoja:hover, #congelados .itemLoja:hover, #laticinios .itemLoja:hover, #padaria .itemLoja:hover, #peixaria .itemLoja:hover {
    background: rgba(255, 0, 0, 0.273);
    border-radius: 0.3rem;
    border-color: white;
    box-shadow: inset 1px 1px 20px rgb(255, 255, 255), inset -1px -1px 5px rgb(255, 255, 255), 1px 1px 20px red, -1px -1px 5px red;
}
.itemLoja {
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    cursor: pointer;
    height: 24vh;
    width: 12vw;
}
.itemLoja img {
    height: 12vh;
    margin: 2vh 0 2vh 0;
}
#acougue .itemLoja:nth-child(1) img, #padaria .itemLoja:nth-child(1) img, #peixaria .itemLoja:nth-child(1) img {
    height: 9.8vh;
    margin: 3vh 0 3vh 0;
}
.itemLoja p:nth-child(3) {
    background: rgba(255, 255, 255, 0.848);
    box-shadow: inset 1px 1px 20px rgb(255, 255, 255), inset -1px -1px 5px rgb(255, 255, 255), 1px 1px 20px red, -1px -1px 15px red;
}
#botaoComprar {
    position: absolute;
    display: flex;
    opacity: 0;
    height: 6rem;
    flex-direction: column;
    justify-content: space-around;
    top: 10vh;
    margin-left: 0.5rem;
    padding: 1rem 0;
}
.botaoQuantidade {
    width: 10vw;
    display: flex;
}
.botaoQuantidade p:nth-child(2) {
    width: 50vw;
    background: white;
    color: red;
    border: 2px solid red;
    border-radius: 0.5rem;
    height: 1.5rem;
    margin-top: 0.5rem;
    cursor: default;
}
.botaoQuantidade button {
    border-radius: 100%;
    height: 1.4rem;
    width: 2rem;
    margin: 0.5rem;
    font-weight: bold;
}
#botaoComprar button {
    border: 2px solid rgb(255, 0, 0);
    color: red;
    cursor: pointer;
    box-shadow: inset 1px 1px 5px rgba(255, 0, 0, 0.453), inset -1px -1px 5px rgba(255, 0, 0, 0.453);
    background: white;
    padding: 0.1rem;
    width: 10vw;
    border-radius: 0.5rem;
}
#botaoComprar button:hover {
    background: red;
    border-color: white;
    box-shadow: inset 1px 1px 20px rgb(255, 255, 255), inset -1px -1px 5px rgb(255, 255, 255), 1px 1px 20px red, -1px -1px 5px red;
    color: white;
    font-weight: bold;
}
#acougue #botaoComprar:hover, #congelados #botaoComprar:hover, #laticinios #botaoComprar:hover, #padaria #botaoComprar:hover, #peixaria .itemLoja:hover {
    opacity: 1;
}

/* Compra Item */

#compraItem, #compraAviso {
    display: none;
    border: 2px solid red;
    border-radius: 0.5rem;
    height: 8rem;
    width: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: red;
}
#compraItem h3, #compraAviso h3 {
    background: red;
    color: white;
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 0.2rem;
}
.itemASerComprado {
    background: white;
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 4.3rem;
}
.aviso {
    background: white;
    margin-top: 0.2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 4.8rem;
}
.itemASerComprado h1, .aviso h1 {
    margin-top: 1.6rem;
}
#precoSoma {
    margin-left: 0.5rem;
}
#compraItem button {
    border: 2px solid rgb(255, 0, 0);
    color: red;
    cursor: pointer;
    box-shadow: inset 1px 1px 5px rgba(255, 0, 0, 0.453), inset -1px -1px 5px rgba(255, 0, 0, 0.453);
    background: white;
    padding: 0.1rem;
    width: 10vw;
    margin: 0.1rem 0 0 0;
    margin-left: 30%;
    border-radius: 0.5rem;
}
#compraItem button:hover {
    background: rgba(255, 0, 0, 0.537);
    border-color: white;
    box-shadow: inset 1px 1px 20px rgb(255, 255, 255), inset -1px -1px 5px rgb(255, 255, 255), 1px 1px 20px red, -1px -1px 5px red;
    color: white;
    font-weight: bold;
}

/* Sacola de Compras */

#sacolaDeCompras {
    position: absolute;
    right: 1.7rem;
    bottom: 1rem;
    cursor: pointer;
    display: none;
}
#sacolaDeCompras img {
        height: 8rem;
}
#sacola {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 38rem;
    width: 30vw;
    background: rgb(255, 255, 255);
    border: 2px solid red;
    border-radius: 1rem;
    cursor: default;
    display: none;
    z-index: 3;
}
#sacola h1 {
    text-align: center;
    margin: 1rem;
    font-size: 2rem;
}
.todaTabelaSacola {
    position: absolute;
    top: 19rem;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30rem;
    width: 23.5vw;
}
.titulosTabela {
    display: flex;
    color: white;
}
.titulosTabela p {
    text-align: center;
    background: rgb(255, 0, 0);
    box-shadow: inset 1px 1px 30px rgba(6, 6, 6, 0.453), inset -1px -1px 5px rgba(6, 6, 6, 0.453);
}
.titulosTabela p:nth-child(1) {
    width: 11.5vw;
    border: 2px solid red;
    border-radius: 0.3rem 0 0 ;
}
.titulosTabela p:nth-child(2) {
    width: 6vw;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}
.titulosTabela p:nth-child(3) {
    width: 6vw;
    border: 2px solid red;
    border-radius: 0 0.3rem 0 0;
}
#itensDaSacola {
    height: 26rem;
    width: 23.5vw;
    overflow: hidden;
    overflow-y: scroll;
    padding-left: 0.2px;
    border: 2px solid red;
}
.tabelaSacola {
    background: red;
}
.tabelaSacola td {
    background: white;
}
.tabelaSacola td:nth-child(1) {
    width: 11.9vw;
}
.tabelaSacola td:nth-child(2) {
    width: 6.6vw;
    text-align: center;
}
.tabelaSacola td:nth-child(3) {
    width: 6vw;
    text-align: end;
}
::-webkit-scrollbar {
    width: 0.1px;
}
::-webkit-scrollbar-thumb {
    background: none;
}

/* Coletar Sacola */

.coletarSacola {
    position: absolute;
    border: 3px solid rgb(255, 0, 0);
    border-radius: 0.8rem;
    color: red;
    cursor: pointer;
    box-shadow: inset 1px 1px 5px rgba(255, 0, 0, 0.453), inset -1px -1px 5px rgba(255, 0, 0, 0.453);
    background: white;
    padding: 0.1rem;
    font-size: 1.3rem;
    font-weight: bold;
    height: 5vh;
    width: 10vw;
    bottom: 2.2rem;
    left: 9.6vw;
}
.coletarSacola:hover {
    background: rgba(255, 0, 0, 0.759);
    border-color: white;
    box-shadow: inset 1px 1px 20px rgb(255, 255, 255), inset -1px -1px 5px rgb(255, 255, 255), 1px 1px 20px red, -1px -1px 5px red;
    color: white;
    font-weight: bold;
}




.upar {
    position: absolute;
    margin-top: 10rem;
}
.dormir {
    position: absolute;
    margin-top: 10rem;
    margin-left: 5rem;
}
#cozinhaFundo {
    height: 100vh;
    width: 100vw;
}

/* Geladeira */

#geladeiraHover {
    position: absolute;
    cursor: pointer;
    height: 51.6vh;
    width: 15.3vw;
    margin-top: -78.7vh;
    margin-left: 22.6vw;
    border-radius: 0.7rem 0.7rem 0 0;
    opacity: 0;
}
#geladeiraHover img {
    margin-top: 18vh;
    margin-left: 5vw;
    height: 5rem;
    width: 5rem;
}
#geladeira {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
    height: 45rem;
    display: block;
}
.geladeira {
    margin-top: -2vh;
    height: 45rem;
}

/* Itens na Geladeira */

.itensNaGeladeira1 {
    position: absolute;
    height: 5.5rem;
    width: 19rem;
    top: 4.5rem;
    left: 1rem;
    margin-top: 1.2rem;
}
.itensNaGeladeira1 #item1 {
    position: absolute;
    height: 4.3rem;
    width: 6.3rem;
    top: 1.2rem;
    left: 1rem;
}
.itensNaGeladeira1 #item1 img {
    height: 4.5rem
}
.itensNaGeladeira1 #item2 {
    position: absolute;
    height: 3rem;
    width: 2.4rem;
    top: 1.7rem;
    left: 7rem;
}
.itensNaGeladeira1 #item2 img {
    height: 3rem;
}
.itensNaGeladeira1 #item3 {
    position: absolute;
    height: 3rem;
    width: 2.4rem;
    top: 1.7rem;
    left: 9.2rem;
}
.itensNaGeladeira1 #item3 img {
    height: 3rem;
}
.itensNaGeladeira1 #item4 {
    position: absolute;
    height: 3rem;
    width: 2.4rem;
    top: 1.7rem;
    left: 11rem;
}
.itensNaGeladeira1 #item4 img {
    height: 3rem;
}

.itensNaGeladeira2 {
    position: absolute;
    height: 6rem;
    width: 11rem;
    top: 9.7rem;
    left: 8.3rem;
    display: flex;
    justify-content: space-around;
    margin-top: 1.2rem;
}
.itensNaGeladeira2 #item5 {
    height: 4.6rem;
}
.itensNaGeladeira2 #item6 {
    height: 4.6rem;
}
.itensNaGeladeira2 img {
    height: 4.5rem;
}

.itensNaGeladeira3 {
    position: absolute;
    height: 5.5rem;
    width: 18rem;
    top: 18.5rem;
    left: 2rem;
    display: flex;
    justify-content: space-around;
    margin-top: 1.2rem;
}
.itensNaGeladeira3 #item7 {
    position: absolute;
    height: 3rem;
    width: 5rem;
    top: 2.9rem;
    left: 0rem;
}
.itensNaGeladeira3 #item7 img {
    height: 3rem;
}
.itensNaGeladeira3 #item8 {
    position: absolute;
    height: 4rem;
    width: 3.1rem;
    top: 2.1rem;
    left: 2.2rem;
}
.itensNaGeladeira3 #item8 img {
    height: 4rem;
}
.itensNaGeladeira3 #item9 {
    position: absolute;
    height: 3rem;
    width: 5rem;
    top: 2.9rem;
    left: 5rem;
}
.itensNaGeladeira3 #item9 img {
    height: 3rem;
}
.itensNaGeladeira3 #item10 {
    position: absolute;
    height: 3.5rem;
    width: 8.4rem;
    top: 2.4rem;
    left: 9.4rem;
}
.itensNaGeladeira3 #item10 img {
    height: 3.5rem;
}

.itensNaGeladeira4 {
    position: absolute;
    height: 5rem;
    width: 18rem;
    top: 24.7rem;
    left: 2rem;
    display: flex;
    justify-content: space-around;
    margin-top: 1.2rem;
}
.itensNaGeladeira4 #item11 {
    position: absolute;
    height: 4rem;
    width: 7.5rem;
    top: 1.3rem;
    left: 0rem;
}
.itensNaGeladeira4 #item11 img {
    height: 4rem;
}
.itensNaGeladeira4 #item12 {
    position: absolute;
    height: 4rem;
    width: 7.5rem;
    top: 1.3rem;
    left: 7rem;
}
.itensNaGeladeira4 #item12 img {
    height: 4rem;
}
.itensNaGeladeira4 #item13 {
    position: absolute;
    height: 5rem;
    width: 3.7rem;
    top: 0.3rem;
    left: 14.2rem;
}
.itensNaGeladeira4 #item13 img {
    height: 5rem;
}

/* Fechar Geladeira */

#fecharGeladeira {
    position: absolute;
    margin-top: -4.5vh;
    margin-left: 50%;
    font-size: 2rem;
    text-align: center;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    border: 2px solid rgb(255, 0, 0);
    color: red;
    cursor: pointer;
    box-shadow: inset 1px 1px 5px rgba(255, 0, 0, 0.453), inset -1px -1px 5px rgba(255, 0, 0, 0.453);
    background: white;
}
#fecharGeladeira p {
    margin-top: -6px;
}

/* Fogao */

#fogaoHover {
    position: absolute;
    cursor: pointer;
    height: 29vh;
    width: 13.3vw;
    margin-top: -57vh;
    margin-left: 62.5vw;
    border-radius: 0.7rem 0.7rem 0 0;
    background: rgba(255, 255, 255, 0.314);
    opacity: 0;
}
#fogaoHover img {
    margin-top: 9vh;
    margin-left: 4.8vw;
    height: 4rem;
    width: 4rem;
    opacity: 0.8;
}

/* Micro-ondas */

#microondasHover {
    position: absolute;
    cursor: pointer;
    height: 10.5vh;
    width: 9vw;
    margin-top: -67vh;
    margin-left: 80.4vw;
    border-radius: 1.1rem 1.3rem 0.2rem 0.2rem;
    background: rgba(255, 255, 255, 0.314);
    opacity: 0;
}
#microondasHover img {
    margin-top: 2.5vh;
    margin-left: 3vw;
    height: 3rem;
    width: 3rem;
    opacity: 0.8;
}
.cancelar {
    font-size: 2rem;
    text-align: center;
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    border: 2px solid rgb(255, 0, 0);
    color: red;
    cursor: pointer;
    box-shadow: inset 1px 1px 5px rgba(255, 0, 0, 0.453), inset -1px -1px 5px rgba(255, 0, 0, 0.453);
    background: white;
    position: absolute;
    top: -1rem;
    right: -1rem;
}
.cancelar:hover, #fecharGeladeira:hover {
    background: red;
    box-shadow: inset 1px 1px 20px rgb(255, 255, 255), inset -1px -1px 5px rgb(255, 255, 255), 1px 1px 20px red, -1px -1px 5px red;
    color: white;
}
.cancelar p {
    margin-top: -6px;
}